<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchShaker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchShaker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83CE99411CA04248005D677B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CE99551CA04249005D677B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CE99601CA04249005D677B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83CE99691CA04249005D677B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
